= render :partial=>'common/breadcrumb', locals: {paths: []}
%h1
  Hi #{current_user.nickname}
= link_to("Explore Apps", app_index_path)
%p.heading
  My Apps
- if flash[:error]
  %p.notice=flash[:error]
- if flash[:notice]
  %p.notice=flash[:notice]
.actions.btn= link_to("Create App", app_new_path)
.span10
  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th XML
        %th Manage
    - current_user.apps.order("short_name").each do |a|
      %tr
        %td= "#{a.short_name} (#{a.name})"
        %td.description= a.description
        - if a.short_name
          %td= link_to('config xml',config_url(short_name: a.short_name, format: 'xml'))
        - else
          %td
        %td
          = link_to('<i class="icon-info-sign"></i> Info'.html_safe,app_info_path(a), class: 'btn')
          = link_to('<i class="icon-edit"></i> Edit'.html_safe, app_edit_show_path(a), class: 'btn btn-primary')
          = link_to('<i class="icon-list"></i> Manage Resource'.html_safe, show_resource_path(a), class: 'btn btn-inverse')
