%h1
  Hi #{current_user.nickname}
.welcome
  Welcome to the Droiuby App development platform
%p.heading
  My Apps
- if flash[:error]
  %p.notice=flash[:error]
- if flash[:notice]
  %p.notice=flash[:notice]
.actions.btn= link_to("Create App", app_new_path)
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th XML
      %th Manage
  - current_user.apps.each do |a|
    %tr
      %td= a.name
      %td= a.description
      %td= link_to('config xml',config_url(name: a.name, format: 'xml'))
      %td= link_to('manage resource', show_resource_path(a), class: 'btn btn-inverse')
