%h1= "Resources of for #{@app.name}"
= link_to "Add Resource", new_resource_path(@app),  class: 'btn'
%table.table
  %thead
    %th
      Name
    %th
      Resource Type
  - @app.resources.each do |r|
    %tr
      %td
        = r.name
      %td
        = r.resource_type


