= render :partial=>'common/breadcrumb', locals: {paths: [{name: 'Home', link: home_index_path},{name: 'manage resource', link: show_resource_path(@app)}, |
   {name: "Create Resource for #{@app.name}"}]} |
- action = @resource.persisted? ? 'update' : 'create'
= form_for @resource, :url => { :action => action }, method: 'post', html: {class: 'form'} do |f|
  = f.hidden_field :app_id, value: @resource.app_id
  - if @resource.persisted?
    = f.hidden_field :id
  .control-group
    .controls.controls-row
      .form-inline
        = f.text_field :name, class: "input", placeholder: 'name'
        = f.select :resource_type, options_for_select([["Layout", Resource::TYPE[:template]], ["Image", Resource::TYPE[:image]], ["Script", Resource::TYPE[:script]]], @resource.resource_type), class: 'resource-type-picker span1'
        = f.label :main_resource, "Main layout?"
        - checked =  (@resource.persisted? && @resource.main_layout?) ? 'checked' : 'unchecked'
        %label.checkbox.inline
          %input{type: 'radio', name: 'main_layout', id: 'option1', value: '1', :"#{checked}" => "" }
          Yes
        - checked =  !(@resource.persisted? && @resource.main_layout?) ? 'checked' : 'unchecked'
        %label.checkbox.inline
          %input{type: 'radio', name: 'main_layout', id: 'option2', value: '0', :"#{checked}" => ""}
          No
  .control-group
    .controls.editor
      = f.text_area :body, class: 'hidden editor'
      .div#editor.input-xxlarge
      :javascript
        droiuby.editor = ace.edit("editor");
        droiuby.editor.setTheme("ace/theme/monokai");
        droiuby.editor.setValue($('textarea.editor').text());
        droiuby.editor.getSession().on('change', function(e) {
            $('textarea.editor').text(droiuby.editor.getValue());
        });
      - if (@resource.resource_type == Resource::TYPE[:script])
        :javascript
          droiuby.editor.getSession().setMode("ace/mode/ruby");
      - else (@resource.resource_type == Resource::TYPE[:template])
        :javascript
          droiuby.editor.getSession().setMode("ace/mode/xml");
  - if @resource.persisted?
    .control-group
      .controls
        = f.submit "Save", class: 'btn btn-primary'
  - else
    .control-group
      .controls
        = f.submit "Save", class: 'btn btn-primary'
