= render :partial=>'common/breadcrumb', locals: {paths: [{name: 'manage resource', link: show_resource_path(@app)}, |
   {name: "Create Resource for #{@app.name}"}]} |
= form_for @resource, :url => { :action => :update }, method: 'post',  :remote => true, html: {:multipart => true, class: 'form form-resource-update', "data-type" => :json} do |f|
  = f.hidden_field :app_id, value: @resource.app_id
  = f.hidden_field :id
  .control-group
    .controls.controls-row
      .form-inline
        = f.submit "Save", class: 'btn btn-primary save-app-button ', :"data-loading-text" => "Saving...", :disabled=>"disabled"
        = f.text_field :name, class: "input", placeholder: 'name'
        = f.select :resource_type, options_for_select([["Layout", Resource::TYPE[:template]], ["Image", Resource::TYPE[:image]], ["Script", Resource::TYPE[:script]], ["CSS", Resource::TYPE[:css]]], @resource.resource_type), class: 'resource-type-picker span1'
        %span.layout-only{class: (@resource.resource_type==Resource::TYPE[:template]) ? '' : 'hidden' }
          = f.label :main_resource, "Main layout?"
          - checked =  (@resource.persisted? && @resource.main_layout?) ? 'checked' : 'unchecked'
          %label.checkbox.inline
            %input{type: 'radio', name: 'main_layout', id: 'option1', value: '1', :"#{checked}" => "" }
            Yes
          - checked =  !(@resource.persisted? && @resource.main_layout?) ? 'checked' : 'unchecked'
          %label.checkbox.inline
            %input{type: 'radio', name: 'main_layout', id: 'option2', value: '0', :"#{checked}" => ""}
            No
        - if @resource.resource_type == Resource::TYPE[:image]
          .control-group.image-upload
            = render partial: 'common/file_upload', locals: {resource: @resource}
        - else
          .control-group.image-upload.hidden
            = render partial: 'common/file_upload', locals: {resource: @resource}
  - unless @resource.resource_type==Resource::TYPE[:image]
    .control-group.resource-editor
      = render partial: 'common/editor', locals: {f: f}
  - else
    .control-group.resource-editor.hidden
      = render partial: 'common/editor', locals: {f: f}
