= form_for @app, :url => { :action => "create" } do |f|
  %fieldset
    %ol
      %li
        = f.label :name, "name"
        = f.text_field :name
      %li
        =  f.label :description, "description"
        = f.text_field :description
    = f.submit "Create", id: 'submitform'