= form_for @app, :url => { :action => "create" }, class: 'form' do |f|
  %p.name
    = f.text_field :name
    = f.label :name, "Name"
  %p.description
    = f.text_field :description
    = f.label :description, "Description"
  %p.submit
    = f.submit "Create", id: 'submitform'