= form_for @app, :url => { :action => "create" } do |f|
  %fieldset
    %ol
      %li
        = f.label :name, "name"
        = f.text_field :name
      %li
        =  f.label :description, "description"
        = f.text_field :description
      %li
        =  f.label :base_url, "base URL"
        = f.text_field :base_url
      %li
        =  f.label :main_layout, "Main Layout URL"
        = f.text_field :main_layout
    = f.submit "Create", id: 'submitform'