<app_descriptor>
    <name><%= @app.name %></name>
    <description><%=  @app.description %></description>
    <launcher_icon><%=  @app.launcher_icon %></launcher_icon>
    <base_url><%=  "http://#{request.host_with_port}/service/#{@app.short_name}/" %></base_url>
    <orientation><%= @app.orientation %></orientation>
    <main><%= @app.main_layout %></main>
    <assets>
        <%- @app.app_assets.each do |asset| %>
            <resource name="<%= asset.uri %>" type="<%= asset.asset_type_name %>"/>
        <%- end %>
    </assets>
</app_descriptor>