!!!
%html
  %head
    %title DroiubyWeb
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag src: "http://code.jquery.com/jquery-latest.js"
    = javascript_include_tag asset_path('bootstrap.min')
    = csrf_meta_tags
%body
  .container
    .row
      .span9
        = image_tag asset_path('droiuby.png'), class: :site_logo
        .row
          .span9
            - if current_user
              %ul.nav.nav-pills
                %li.active
                  = link_to("Home", home_index_path)
                %li
                  = link_to("Logout",destroy_user_session_path)
            .row
              .span9
                = yield
