!!!
%html
  %head
    %title DroiubyWeb
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag src: "http://code.jquery.com/jquery-latest.js"
    = javascript_include_tag asset_path('bootstrap')
    = javascript_include_tag asset_path('qrcode')
    = javascript_include_tag "http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"
    = csrf_meta_tags
%body
  .container
    .row
      .span11
        .site_header
          - unless current_user
            = image_tag asset_path('droiuby.png'), class: 'site_logo'
            %h1 droiuby
        .row
          .span11
            = bootstrap_flash
            = yield
            -unless current_user
              .row
                .span9
                  %a{href: "http://play.google.com/store/apps/details?id=com.droiuby.client"}
                  %img{alt: "Android app on Google Play", src: "http://www.android.com/images/brand/android_app_on_play_logo_large.png"}