!!!
%html
  %head
    %title DroiubyWeb
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag src: "http://code.jquery.com/jquery-latest.js"
    = javascript_include_tag asset_path('bootstrap.min')
    = javascript_include_tag asset_path('qrcode')
    = javascript_include_tag "http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"
    = csrf_meta_tags
%body
  .container
    .row
      .span9
        .site_header
          = image_tag asset_path('droiuby.png'), class: 'site_logo'
          %h1 droiuby...
        .row
          .span9
            - if current_user
              %ul.nav.nav-pills
                %li.active
                  = link_to("Home", home_index_path)
                %li
                  = link_to("Logout",destroy_user_session_path)
            .row
              - if flash[:notice]
                .span9
                  .alert.alert-info= flash[:notice]
              - if flash[:error]
                .span9
                  .alert.alert-error= flash[:error]
              .row
                .span9
                  = yield
